<!-- Node New Modal -->
<div class="modal fade moduleNodeNew" id="node-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_node_new' module.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Node New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ node_new_form }}
                    <br>
                    <div class="row">
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;Node Properties:</h5>
                        <div id="module-node-new-properties"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="moduleNodeNewErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="node_new" class="btn btn-primary" type="submit" value="New Node">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Edge New Modal -->
<div class="modal fade moduleEdgeNew" id="edge-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_edge_new' module.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Edge New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ edge_new_form }}
                    <br>
                    <div class="row">
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;Edge Properties:</h5>
                        <div id="module-edge-new-properties"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="moduleEdgeNewErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="edge_new" class="btn btn-primary" type="submit" value="New Edge">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

