<!-- Node New Modal -->
<div class="modal fade projectNodeNew" id="module-node-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_node_new' module.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Node New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ node_new_form }}
                    <br>
{#                    <legend>Node Property:</legend>#}
                    <div class="row" style="margin-top: 10px;">
                        <div id="project-node-new-properties"></div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div id="projectNodeNewErrMessage"></div>
                    </div>

                    {% csrf_token %}
                    <input type="hidden" name="property_data_index" value="">
                </div>
                <div class="modal-footer">
                    <input id="project_node_new" class="btn btn-primary" type="submit" value="New Node">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Edge New Modal -->
<div class="modal fade projectEdgeNew" id="module-edge-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_edge_new' module.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Edge New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-6">
                            <label for="project-edge-new-from-module">From Module:</label>
                            <select id="project-edge-new-from-module" name="project-edge-new-from-module" class="form-control">
                                {% for item in project_modules %}
                                    {% if item.id == module.id %}
                                        <option value="{{ item.id }}" selected>{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="project-edge-new-from-node">From Node:</label>
                            <select id="project-edge-new-from-node" name="project-edge-new-from-node" class="form-control">
                                {% for item in current_module_nodes %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-6">
                            <label for="project-edge-new-to-module">To Module:</label>
                            <select id="project-edge-new-to-module" name="project-edge-new-to-module" class="form-control">
                                {% for item in project_modules %}
                                    {% if item.id == module.id %}
                                        <option value="{{ item.id }}" selected>{{ item.name }}</option>
                                    {% else %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="project-edge-new-to-node">To Node:</label>
                            <select id="project-edge-new-to-node" name="project-edge-new-to-node" class="form-control">
                                {% for item in current_module_nodes %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <label for="project-edge-new-type">Type:</label>
                            <select id="project-edge-new-type" name="project-edge-new-type" class="form-control">
                                {% for item in edge_types %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="project-edge-new-priority">Priority:</label>
                            <select id="project-edge-new-priority" name="project-edge-new-priority" class="form-control">
                                {% for item in edge_priorities %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div id="project-edge-new-properties"></div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div id="projectEdgeNewErrMessage"></div>
                    </div>

                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="project_edge_new" class="btn btn-primary" type="submit" value="New Edge">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>