{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Module Detail {% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'common/visjs/4.16.1/vis-network.min.js' %}"></script>
    <link type="text/css" href="{% static 'common/visjs/4.16.1/vis.css' %}">

    <style type="text/css">
        #node_in_module {
            width: auto;
            height: auto;
            border: 1px solid lightgray;
        }
    </style>
{% endblock%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-6">
                        {% if module.project %}
                            <h4>Project: <a href="{% url 'graphs:project_detail' module.project.id %}">{{ module.project.name }}</a> - Module: {{ module.name }}</h4>
                        {% else %}
                            <h4>Test Header - {{ module.name }}</h4>
                        {% endif %}
                    </div>
                    <div class="col-xs-3 pull-right">
                        <a href="#" data-toggle="modal" data-target="#module-node-new-modal" class="btn btn-default">New Node</a>
                        <a href="#" data-toggle="modal" data-target="#module-edge-new-modal" class="btn btn-default">New Edge</a>
                    </div>
                </div>
                <div class="row">
                    <div id="node_in_module" style="margin-top: 10px;"></div>
                </div>
            </div>
            <div class="col-xs-3" >

                <div class="row hidden">
                    <ul class="nav nav-tabs">
                        <li><a href="#moduleNodeEdit" data-toggle="tab">Node</a></li>
                        <li><a href="#moduleEdgeEdit" data-toggle="tab">Edge</a> </li>
                        <li><a href="#moduleNodeEdgeEmpty" data-toggle="tab">NodeEdgeEmpty</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane" id="moduleNodeEdit">
                        <div class="col-xs-12">
                            <div class="row hidden">
                                <ul class="nav nav-tabs" >
                                    {% for item in module.nodes_all %}
                                        <li><a href="#node-{{ item.id }}" data-toggle="tab">{{ item.id }}</a> </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="tab-content">
                                {% for item in module.nodes_all %}
                                    <div class="tab-pane" id="node-{{ item.id }}">
                                        <div class="row">
                                            <h4>Node Detail</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                {% if item.module != module %}
                                                    <label>Module:</label>
                                                    <a href="{% url 'graphs:project_module_detail' item.module.id %}"
                                                        class="btn btn-default">{{ item.module.name }}</a>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <form method="post" action="{% url 'graphs:module_node_edit' item.id %}" class="moduleNodeEditForm">
                                            <div class="row" style="margin-top: 5px;">
                                                <div class="col-xs-12">
                                                    <label for="moduleNodeEditName">Name:</label>
                                                    <input type="text" class="form-control" name="moduleNodeEditName" id="moduleNodeEditName" value="{{ item.name }}">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleNodeEditType">Type:</label>
                                                    <select class="form-control " id="moduleNodeEditType" name="moduleNodeEditType">
                                                        {% for type in node_types %}
                                                            <option value="{{ type.id }}" {% if item.type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12" >
                                                    <div id="module-node-edit-properties">
                                                        {% for key, value in item.properties.items %}
                                                            {% if key == 'InputData' %}
                                                                <table class="table moduleNodeEditPropertyTable" id="node-property-table-{{ item.id }}">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>Inputs</td>
                                                                            <td>Outputs</td>
                                                                            <td><button id="buttonAddData_{{ item.id }}" type="button" class="btn btn-xs" onclick="module_node_edit_add_data({{ item.id }})">Add Data</button></td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for rec in item.properties.InputData %}
                                                                            <tr id="{{ forloop.counter0 }}">
                                                                                <td><input name="Inputs_{{ forloop.counter0 }}" value="{{ rec.Inputs }}"></td>
                                                                                <td><input name="Outputs_{{ forloop.counter0 }}" value="{{ rec.Outputs }}"> </td>
                                                                                <td class="text-center"><a href="#" onclick="deleteRow(this);"><i class="fa fa-trash-o fa-lg"></i> </a> </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% else %}
                                                                <div class="row" style="margin-top: 5px;">
                                                                    <div class="col-xs-12">
                                                                        <label>{{ key }}:</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 5px;">
                                                                    <div class="col-xs-12">
                                                                        <input name="{{ key }}" value="{{ value }}" >
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <div id="moduleNodeEditErrMessage">&nbsp;</div>
                                                </div>
                                                <div class="cos-xs-1">
                                                    <input type="hidden" name="moduleNodeEditId" value="{{ item.id }}">
                                                    <input type="hidden" name="property_data_index" value="">
                                                </div>
                                            </div>
                                            <br>
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button type="submit" name="node_save" class="btn btn-primary param-save">Save</button>
                                                    <button type="submit" name="node_delete" class="btn btn-danger param-delete">Delete</button>
                                                    <a href="#" data-toggle="modal"
                                                       data-target="#module-node-edge-new-modal"
                                                       data-from-node-id="{{ item.id }}"
                                                       data-module-id="{{ module.id }}"
                                                       class="btn btn-primary" >NewNode</a>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-xs-12">
                                                {% with leaving_edges=item.leaving_edges %}
                                                    {% if leaving_edges %}
                                                        <h5>Leaving Edges:</h5>
                                                        <table class="table table-hover table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-xs-2">ToNode</th>
                                                                    <th class="col-xs-2">Priority</th>
                                                                    <th class="col-xs-2">Properties</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for edge in leaving_edges %}
                                                                    <tr>
                                                                        <td>{{ edge.to_node.name }}</td>
                                                                        <td>{{ edge.priority }}</td>
                                                                        <td>
                                                                            {% if edge.type.name in 'Data, PreCondition' %}
                                                                                {% if edge.type.subkeys_data_name == 'Outputs' %}
                                                                                    {{ edge.properties.OutputData.Outputs }}
                                                                                {% else %}
                                                                                    {{ edge.properties.OutputData.Condition }}
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {{ edge.properties }}
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endwith %}
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-xs-12">
                                                {% if item.arriving_edges %}
                                                    <h5>Arriving Edges:</h5>
                                                    <table class="table table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-2">FromNode</th>
                                                                <th class="col-xs-2">Priority</th>
                                                                <th class="col-xs-2">Properties</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for edge in item.arriving_edges %}
                                                                <tr>
                                                                    <td>{{ edge.from_node.name }}</td>
                                                                    <td>{{ edge.priority }}</td>
                                                                    <td>
                                                                        {% if edge.type.name in 'Data, PreCondition' %}
                                                                            {% if edge.type.subkeys_data_name == 'Outputs' %}
                                                                                {{ edge.properties.OutputData.Outputs }}
                                                                            {% else %}
                                                                                {{ edge.properties.OutputData.Condition }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {{ edge.properties }}
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="moduleEdgeEdit">
                        <div class="col-xs-12">
                            <div class="row hidden">
                                <ul class="nav nav-tabs">
                                    {% for item in module.edges_all %}
                                        <li><a href="#edge-{{ item.id }}" data-toggle="tab">{{ item.id }}</a> </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="tab-content">
                                {% for item in module.edges_all %}
                                    <div class="tab-pane" id="edge-{{ item.id }}">
                                        <h4>Edge Detail</h4>
                                        <form method="post" action="{% url 'graphs:module_edge_edit' item.id %}" class="moduleEdgeEditForm">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleEdgeEditFromNode">FromNode:</label>
                                                    <select class="form-control" id="moduleEdgeEditFromNode" name="moduleEdgeEditFromNode">
                                                        {% for node in module_nodes_set %}
                                                            <option value="{{ node.id }}" {% if item.from_node.id == node.id %}selected{% endif %}>{{ node.module.name }}:{{ node.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleEdgeEditToNode">ToNode:</label>
                                                    <select class="form-control" id="moduleEdgeEditToNode" name="moduleEdgeEditToNode">
                                                        {% for node in module_nodes_set %}
                                                            <option value="{{ node.id }}" {% if item.to_node.id == node.id %}selected{% endif %}>{{ module.name }}:{{ node.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleEdgeEditPriority">Priority:</label>
                                                    <select class="form-control" id="moduleEdgeEditPriority" name="moduleEdgeEditPriority">
                                                        {% for priority in edge_priorities %}
                                                            <option value="{{ priority.0 }}" {% if item.priority == priority.0 %}selected{% endif %}>{{ priority.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleEdgeEditType">Type:</label>
                                                    <select class="form-control " id="moduleEdgeEditType" name="moduleEdgeEditType">
                                                        {% for type in edge_types %}
                                                            <option value="{{ type.id }}" {% if item.type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12" >
                                                    <div id="module-edge-edit-properties">
                                                        {% for key, value in item.properties.items %}
                                                            {% if key == 'OutputData' %}
                                                                {% for subkey, subvalue in item.properties.OutputData.items %}
                                                                    <div class="row" style="margin-top: 5px;">
                                                                        <div class="col-xs-1"></div>
                                                                        <div class="col-xs-11">
                                                                            <label>
                                                                                {% if subkey == 'Outputs' %}
                                                                                    Follow If...
                                                                                {% else %}
                                                                                    {{ subkey }}:
                                                                                {% endif %}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-1"></div>
                                                                        <div class="col-xs-11">
                                                                            <input name="{{ subkey }}_0" value="{{ subvalue }}" >
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="row" style="margin-top: 5px;">
                                                                    <div class="col-xs-12">
                                                                        <label>{{ key }}:</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 5px;">
                                                                    <div class="col-xs-12">
                                                                        <input name="{{ key }}" value="{{ value }}" >
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <div id="moduleEdgeEditErrMessage">&nbsp;</div>
                                                </div>
                                                <div class="col-xs-1">
                                                    <input type="hidden" name="moduleEdgeEditModuleId" value="{{ module.id }}">
                                                </div>
                                            </div>
                                            <br>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button type="submit" name="edge_save" class="btn btn-primary param-save">Save</button>
                                                    <button type="submit" name="edge_delete" class="btn btn-danger param-delete">Delete</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="moduleNodeEdgeEmpty"></div>
                </div>

            </div>
        </div>
    </div>

    {% include 'graphs/module/module_detail_modal.html' %}

{% endblock %}

{% block footer %}
    <script>
        var nodes = {{ network_nodes|safe }};
        var edges = {{ network_edges|safe }};
        {% include 'graphs/module/module_detail.js' %}
        {% include 'graphs/node_edge_properties.js' %}
        {% include 'graphs/project/node_edge.js' %}
        {% include 'graphs/module/node_auto_edge_new.js' %}
    </script>
{% endblock %}