{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Module Detail {% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'common/visjs/4.16.1/vis-network.min.js' %}"></script>
    <link type="text/css" href="{% static 'common/visjs/4.16.1/vis.css' %}">

    <style type="text/css">
        #node_in_module {
            width: auto;
            height: auto;
            border: 1px solid lightgray;
        }
    </style>
{% endblock%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Module: <a href="{% url 'graphs:project_detail' module.project.id %}">{{ module.project.name }}</a> - {{ module.name }}</h4>
                    </div>
                    <div class="col-xs-3 pull-right">
                        <a href="#" data-toggle="modal" data-target="#node-new-modal" class="btn btn-default">New Node</a>
                        <a href="#" data-toggle="modal" data-target="#edge-new-modal" class="btn btn-default">New Edge</a>
                    </div>
                </div>
                <div class="row">
                    <div id="node_in_module" style="margin-top: 10px;"></div>
                </div>
            </div>
            <div class="col-xs-3" >
                <div class="row hidden">
                    <ul class="nav nav-tabs">
                        <li><a href="#moduleNodeEdit" data-toggle="tab">Node</a></li>
                        <li><a href="#moduleEdgeEdit" data-toggle="tab">Edge</a> </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane" id="moduleNodeEdit">
                        <div class="col-xs-12">
                            <div class="row hidden">
                                <ul class="nav nav-tabs" >
                                    {% for item in module.nodes %}
                                        <li><a href="#node-{{ item.id }}" data-toggle="tab">{{ item.id }}</a> </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="tab-content">
                                {% for item in module.nodes %}
                                    <div class="tab-pane" id="node-{{ item.id }}">
                                        <h4>Node Detail</h4>
                                        <form method="post" action="{% url 'graphs:module_node_edit' item.id %}" class="moduleNodeEditForm">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleNodeEditType">Type:</label>
                                                    <select class="form-control " id="moduleNodeEditType" name="moduleNodeEditType">
                                                        {% for type in node_types %}
                                                            <option value="{{ type.id }}" {% if item.type.id == type.id %}selected{% endif %}>{{ type }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="moduleNodeEditName">Name:</label>
                                                    <input type="text" class="form-control" name="moduleNodeEditName" id="moduleNodeEditName" value="{{ item.name }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12" >
                                                    <h5>Node Properties:</h5>
                                                    <div id="module-node-edit-properties">
                                                        {% for key, value in item.properties.items %}
                                                            <div class="row" style="margin-top: 5px;">
                                                                <div class="col-xs-4">
                                                                    <label>{{ key }}:</label>
                                                                </div>
                                                                <div class="col-xs-8">
                                                                    <input name="{{ key }}" value="{{ value }}" >
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <div id="moduleNodeEditErrMessage">&nbsp;</div>
                                                </div>
                                            </div>
                                            <br>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button type="submit" name="node_save" class="btn btn-primary param-save">Save</button>
                                                    <button type="submit" name="node_delete" class="btn btn-danger param-delete">Delete</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-xs-12">
                                                {% if item.leaving_edges %}
                                                    <h5>Leaving Edges:</h5>
                                                    <table class="table table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-2">Name</th>
                                                                <th class="col-xs-2">Priority</th>
                                                                <th class="col-xs-2">ToNode</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for edge in item.leaving_edges %}
                                                                <tr>
                                                                    <td>{{ edge.name }}</td>
                                                                    <td>{{ edge.priority }}</td>
                                                                    <td>{{ edge.to_node.name }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="moduleEdgeEdit">
                        <div class="col-xs-12">
                            <div class="row hidden">
                                <ul class="nav nav-tabs">
                                    {% for item in module.edges %}
                                        <li><a href="#edge-{{ item.id }}" data-toggle="tab">{{ item.id }}</a> </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="tab-content">
                                {% for item in module.edges %}
                                    <div class="tab-pane" id="edge-{{ item.id }}">
                                        <h4>Edge Detail</h4>
                                        <form method="post" action="{% url 'graphs:module_edge_edit' item.id %}" class="moduleEdgeEditForm">
                                            {{ item.id }} - {{ item.name }}
                                        </form>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>



            ------------------------

                <h4>Edges:</h4>
                {% if module.edges %}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="col-xs-9">Name</th>
                                <th class="col-xs-3">Edition</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in module.edges %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <a href="#edge-edit-modal" data-toggle="modal" class="btn btn-primary btn-xs"
                                            data-edge-id="{{ item.id }}"
                                            data-edge-type-id="{{ item.type.id }}"
                                            data-edge-name="{{ item.name }}"
                                            data-edge-from="{{ item.from_node.id }}"
                                            data-edge-to="{{ item.to_node.id }}"
                                            data-edge-priority="{{ item.priority }}"
                                            data-edge-properties="{{ item.properties }}"
                                            ><i class="fa fa-edit"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No Edges inside current module.
                {% endif %}
            </div>
        </div>

        {% include 'graphs/module/module_detail_modal.html' %}
    </div>
{% endblock %}

{% block footer %}
    <script>
        var nodes = {{ network_nodes|safe }};
        var edges = {{ network_edges|safe }};
        {% include 'graphs/module/module_detail.js' %}
    </script>
{% endblock %}