<!-- Node New Modal -->
<div class="modal fade moduleNodeNew" id="node-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_node_new' module.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Node New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ node_new_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Node Properties:</h5>
                            <div id="module-node-new-properties"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="moduleNodeNewErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="node_new" class="btn btn-primary" type="submit" value="New Node">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Edge New Modal -->
<div class="modal fade moduleEdgeNew" id="edge-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_edge_new' module.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Edge New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ edge_new_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Edge Properties:</h5>
                            <div id="module-edge-new-properties"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="moduleEdgeNewErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="edge_new" class="btn btn-primary" type="submit" value="New Edge">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Node New Node&Edge Modal -->
<div class="modal fade moduleNodeEdgeNew" id="module-node-edge-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:module_node_new' module.id %}?auto_edge=node_edge_new" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Node&Edge New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <legend>Node</legend>
                    {{ node_new_node_form }}
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Node Properties:</h5>
                            <div id="module-node-edge-new-node-properties"></div>
                        </div>
                    </div>
                    <br>

                    <legend>Edge</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="moduleNodeEdgeNewEdgeType">Type:</label>
                            <select class="form-control " id="moduleNodeEdgeNewEdgeType" name="moduleNodeEdgeNewEdgeType">
                                {% for type in edge_types %}
                                    <option value="{{ type.id }}" {% if item.type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="moduleNodeEdgeNewEdgePriority">Priority:</label>
                            <select class="form-control" id="moduleNodeEdgeNewEdgePriority" name="moduleNodeEdgeNewEdgePriority">
                                {% for priority in edge_priority %}
                                    <option value="{{ priority.0 }}" {% if item.priority == priority.0 %}selected{% endif %}>{{ priority.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Edge Properties:</h5>
                            <div id="module-node-edge-new-edge-properties"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11">
                            <div id="moduleNodeEdgeNewErrMessage">&nbsp;</div>
                        </div>
                        <div class="col-xs-1">
                            <input type="hidden" name="moduleNodeEdgeNewFromNodeId">
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="node_edge_new" class="btn btn-primary" type="submit" value="New Node&Edge">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>