{% extends 'core/base.html' %}

{% block title %} Node New {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <legend>Project: {{ module.project.name }} Auto Edge</legend>
        </div>
        <form action="{% url 'graphs:module_node_new_node_edge' node.id %}" method="post" class="moduleNodeEdgeNew">
            <div class="row">
                {{ form_node }}
            </div>
            <br>
            <legend>Node Property:</legend>
            <div class="row" style="margin-top: 10px;">
                <div id="module-node-edge-new-node-properties"></div>
            </div>

            <div class="row">
                {{ form_edge }}
            </div>
            <br>
            <legend>Edge Property:</legend>
            <div class="row" style="margin-top: 10px;">
                <div id="module-node-edge-new-edge-properties"></div>
            </div>

            {% csrf_token %}
            <input type="hidden" name="property_data_index" value="">
            <div class="row" style="margin-top: 20px;">
                <input id="module_node_edge_new" class="btn btn-primary" type="submit" value="New Node&Edge">
                <input type="button" value="Cancel" class="btn btn-default" onclick="history.back(); return false;">
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <script>
        {% include 'graphs/module/node_auto_edge_new.js' %}
        {% include 'graphs/project/node_edge.js' %}
    </script>
{% endblock %}