{% extends 'core/base.html' %}

{% block title %}TestCases of Project{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-9">
                        <legend>{{ project.name }} TestCases</legend>
                    </div>
                    <div class="col-xs-3 text-right">
                        <a href="#" class="btn btn-success" id="publish">Publish</a>
                        <a href="{% url 'runner:dashboard' %}" class="btn btn-default">Execution</a>
                    </div>
                </div>
                <div class="progress col-xs-12"
                     style="margin-bottom:10px;margin-top:0px;padding-left:0px !important;padding-right:0px !important;">
                    <div class="progress progress-bar progress-bar-success" role=progressbar" aria-valuemin="0"
                         aria-valuemax="100" id="tracking" style="width: 0%;">
                    </div>
                </div>
                <div class="row" id="project-testcases">
                    {% for item in testcases %}
                        {% if item.data %}
                            <div id="{{ item.module }}">
                                <h4>Module: {{ item.module }}</h4>
                                {% for each_tc in item.data %}
                                    {{ forloop.counter }}. {{ each_tc.title }}: <br>
                                    {% if each_tc.tcs_cannot_route %}
                                        <ul>
                                            <li>Status:</li>
                                            {{ each_tc.tcs_cannot_route }}
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <li>PreConditions:</li>
                                            {{ each_tc.pre_conditions }}
                                            <li>Steps:</li>
                                            <ul>
                                                {% for step in each_tc.tc_steps %}
                                                    <li>{{ forloop.counter }}, {{ step }}</li>
                                                {% endfor %}
                                            </ul>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row" id="project-testrail">
                    <legend>TestRail</legend>
                    {% for key, value in testrail.items %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </div>

            </div>

            <div class="col-xs-4">
                <div class="col-xs-12" id="project-{{ project.id }}">
                    <div class="row">
                        <h4>{{ project.name }} modules list:</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                {% for module in project.modules %}
                                    <li>
                                        <a href="#{{ module.name }}">{{ module.name }}</a>
                                        {% if user.is_staff %}
                                            <a href="{% url 'testcases:create_testcases' module.id %}?level=module" title="Create TCs"><i class="fa fa-hourglass-2 fa-fw"></i></a>
                                            <span class="tc_loading" hidden>Loading...</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $(function(){
            $(".progress").hide();
        });
        var button_publish = $('#publish');
        button_publish.click(function(){
            $.ajax("{% url 'graphs:project_publish' project.id %}", {
                type: "GET",
                success: function(data){
                    button_publish.addClass('disabled');
                    $(".progress").show();
                }
            });
        });

{#        check_celery_task_state();#}

        window.setInterval(function(){
            check_celery_task_state();
        }, 5000);

        function check_edges_visited(){
            var previouse_disabled = button_publish.is('.disabled');
            $.getJSON('{% url 'testcases:check_edges_visited' project.id%}', function(data){
                if (data.task_run === false) {
                    $('#tracking').css({'width': '99%'});
                    $('#tracking').html('99%');
                } else {
                    if (previouse_disabled === false) {
                        if (data.process_percent >= 100) {
                            $(".progress").show();
                            $('#tracking').css({'width': '99%'});
                            $('#tracking').html('99%');
                        } else {
                            $(".progress").show();
                            $('#tracking').css({'width': data.process_percent + '%'});
                            $('#tracking').html(data.process_percent + '%');

                        }
                    }
                }
                if (data.process_percent >= 100) {
                    $(".progress").show();
                    $('#tracking').css({'width': '99%'});
                    $('#tracking').html('99%');
                } else {
                    $(".progress").show();
                    $('#tracking').css({'width': data.process_percent + '%'});
                    $('#tracking').html(data.process_percent + '%');

                }

            })

        }

        function check_celery_task_state(){
            var previouse_disabled = button_publish.is('.disabled');

            $.getJSON('{% url 'testcases:check_celery_task_state' %}', function(data){
                if (data.task_run === false){
                    if (previouse_disabled === true){
                        location.reload();
                    }
                } else {
                    if (previouse_disabled === false) {
                        button_publish.addClass('disabled');
{#                        setTimeout(check_edges_visited, 5000);#}
                        check_edges_visited();
                    }
                    button_publish.addClass('disabled');
{#                    setTimeout(check_edges_visited, 5000);#}
                    check_edges_visited();
                }
            })
        }

        $('.fa-hourglass-2').click(function(){
            $(this).removeClass('fa-hourglass-2').addClass('fa-spinner fa-pulse fa-2x');

            $(this).closest('li').find('.tc_loading').show();
        });
    </script>
{% endblock %}