{% extends 'core/base.html' %}

{% block title %} TestCases {% endblock %}

{% block subnav %}
    <div class="container" style="margin-top: 10px;">
        <div class="row" style="margin-top: 10px;">
            <small>
                <i class="fa fa-pencil fa-fw"></i> Create
                <a href="{% url 'testcases:testrail_configuration_new' %}">New TestRail Configuration</a> |
                <i class="fa fa-refresh fa-fw"></i>
                <a href="{% url 'testcases:create_testcases_all' %}">Create TCs All</a>
            </small>
        </div>
        <div class="row" style="margin-top:10px;">
            <ul id="tc-subnav-tabs" class="nav nav-tabs">
                <li><a href="#tc-projects" data-toggle="tab">Project Lists</a> </li>
                <li><a href="#tc-testrails" data-toggle="tab">TestRail Configs</a> </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="tab-content">
        <div class="tab-pane" id="tc-projects">
            {% include 'testcases/tc_projects.html' %}
        </div>

        <div class="tab-pane" id="tc-testrails">
            {% include 'testcases/tc_testrails.html' %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function(){
            var first_href = $('.table tbody tr:first td:first a').attr('href');

            //console.log(first_href);
            $('a[href="{0}"]'.format(first_href)).click();
        });

        {% include 'testcases/testcases.js' %}
    </script>
{% endblock %}