{% block extrahead %}
    <style type="text/css">
        .sidebar-nav {
            margin-left: -250px;
            width: 250px;
            z-index: 10001;
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: hidden;
            height: 100vh;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-color: #fafafa;
            border-right: 1px solid #ccc;
        }

        .sidebar-nav-toggled {
            margin-left: 0px;
        }

        .sideBarCloseIcon {
            float: right;
            cursor: pointer;
        }

        .backdrop {
            height: 100vh;
            width: 100%;
            z-index: 10000;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            background-color: #000;
            opacity: 0.2;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .sidebar-nav .list-group-item {
            background-color: transparent;
            border: 0px;
            cursor:pointer;
        }

        .sidebar-nav .list-group {
            margin-left: -15px;
            margin-right: -15px;
        }

        .sidebar-nav .list-group hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .list-group-item-icon {
            padding-right: 5px;
        }

        #sideMainMenu {
           cursor:pointer;
        }

    </style>
{% endblock%}

{% block body %}
    <div class="row" role="navigation" style="margin-bottom: -20px">
        <a id="sideMainMenu" class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;<span
            class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
        <a class="navbar-brand"></a>
    </div>
    <div class="row">
        <div class="backdrop"></div>
    </div>
    <div class="row">
        <div id="mySideBar" class="sidebar-nav container-fluid" aria-label="...">
            <div class="row">
                <div class="col-xs-12" style="padding: 5px 15px 1px 15px">
                    <h4 style="padding-left: 0px; font-size: 19px; color: #666">
                        Main Menu <span
                            class="sideBarCloseIcon glyphicon glyphicon-remove"
                            aria-hidden="true"></span>
                    </h4>
                </div>
            </div>
            <hr style="margin: 5px -15px" />
            <ul class="list-group navbar-collapse">
                <li class="list-group-item dropdown"><a href="{% url 'home' %}"> Home</a></li>
                <li class="list-group-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Configurations</a>
                    <ul class="dropdown-menu ">
                        <li class="list-group-item dropdown"><a href="{% url 'projects:project_dashboard' %}">Project Dashboard</a> </li>
                        {% if request.user.humanresource.project %}
                            <li class="list-group-item dropdown"><a href="{% url 'graphs:projects_for_selection' %}">Switch Project</a> </li>
                        {% endif %}
                        <li class="list-group-item dropdown"><a href="{% url 'projects:project_new' %}">Add New Project</a> </li>
                        <li class="list-group-item dropdown"><a href="{% url 'testcases:tcs_project' %}">TestCases</a> </li>
                        <li class="list-group-item dropdown"><a href="{% url 'runner:dashboard' %}">TCs Execution</a> </li>
                        <li class="list-group-item dropdown"><a href="#" data-toggle="modal" data-target="#module-import-modal">Import Prompts</a> </li>
                    </ul>
                </li>

                {% if user.is_superuser %}
                    <hr/>
                    <li class="list-group-item dropdown" style="font-style: italic"><a href="{% url 'projects:projects' %}"></i> Previous Projects</a></li>
                    <li class="list-group-item dropdown" style="font-style: italic"><a href="{% url 'graphs:graphs' %}">Previous Graphs</a> </li>
                    <li class="list-group-item dropdown" style="font-style: italic"><a href="{% url 'testcases:testcases' %}">Previous TCs</a> </li>
                    <hr/>
                    <li class="list-group-item dropdown" style="font-style: italic"><a href="{% url 'users:management' %}">User Management</a> </li>
                    <li class="list-group-item dropdown" style="font-style: italic"><a href="{% url 'admin:index' %}" target="_blank">Django Admin</a> </li>
                    <hr/>
                {% endif %}

                <li class="list-group-item dropdown"><a href="{% url 'intro' %}"> Introduction</a></li>
                <li class="list-group-item"><a href="{% url 'help:help' %}"> Help</a></li>
                <li class="list-group-item"><a href="{% url 'users:sign_out' %}"> Sign Out</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $("#sideMainMenu, .backdrop, .sideBarCloseIcon").click(function() {
            $("#mySideBar").toggleClass("sidebar-nav-toggled");
            $(".backdrop").toggle();
        });
    </script>
{% endblock %}