{% block extrahead %}
    <style type="text/css">
        .btn-file {
            position: relative;
            overflow: hidden;
            border: 1px solid lightgray;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock%}

<!-- Module Import Modal Step 1 -->
<div class="modal fade moduleImport" id="module-import-modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="modal-title">Project Module Import Opt</h4>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="modal-body">
                    <p>By uploading a prompt list, we can save you time by automatically
                        creating most of the audio prompts. We strongly encourage your
                        to use this this process.</p>
                    <p>Would you like to begin the import now?</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'help:help' %}" class="pull-left">Help</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="module_import_step_1" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Module Import Modal Step 2 -->
<div class="modal fade moduleImport" id="module-import-modal-2">
    <div class="modal-dialog">
        <form action="{% url 'projects:language_new' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">Project Modules Import Language Set</h4>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="modal-body">
                        <p>Languages currently set in your project</p>
                        <ul class="projectLanguages">
                            {% for lan in user.humanresource.project.language_lists %}
                                <li>{{ lan }}</li>
                            {% endfor %}
                        </ul>
                        {{ language_new_form }}
                        <div style="padding-top: 20px;">
                            <a href="{% url 'help:help' %}" class="pull-left">Help</a>
                            <button id="language_add" type="button" class="btn btn-default btn-sm pull-right">Add</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="newLanguageErrMessage">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="module_import_step_2" type="button" class="btn btn-default" data-dismiss="modal">Import Modules</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Module Import Modal Step 3 -->
<div class="modal fade moduleImport" id="module-import-modal-3">
    <div class="modal-dialog">
        <form action="{% url 'graphs:project_module_import' user.humanresource.project.id %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">Project Modules Import Promptlist</h4>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <div class="modal-body">
                    {% csrf_token %}
                    <p>Languages currently set in your project</p>
                        <ul class="projectLanguages">
                            {% for lan in user.humanresource.project.language_lists %}
                                <li>{{ lan }}</li>
                            {% endfor %}
                        </ul>
                    <label class="control-label">Upload Prompt List .xlsx File</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-file">
                                <i class="fa fa-folder-open fa-fw"></i>{{ module_import_form.file }}
                                <input type="file" style="display: none;">
                            </span>
                        </span>
                        <input type="text" id="filenames" class="form-control" readonly>
                    </div>
                    <div class="input-group" style="padding-top: 20px;">
                        <a href="{% url 'help:help' %}" class="pull-left">Help</a>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="module_import" class="btn btn-primary" type="submit" value="Import">
                </div>
            </div>
        </form>
    </div>
</div>

{% block footer %}
    <script>
        //Three steps for project imports modules from prompt lists excel
        $('#module-import-modal-1').on('show.bs.modal', function () {
            $("#mySideBar").toggleClass("sidebar-nav-toggled");
            $(".backdrop").toggle();
        });

        $('#module_import_step_1').click(function () {
            $('#module-import-modal-2').modal('show')
        });

        $('#module_import_step_2').click(function () {
            $('#module-import-modal-3').modal('show')
        });

        //File upload form
        $('.moduleImport input:file').on('change', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('.moduleImport input:file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }
        });

        $('#language_add').click(function () {
            var name = $('#module-import-modal-2 #id_name').val(),
                root_path = $('#module-import-modal-2 #id_root_path').val(),
                lan_list = [];

            $('#module-import-modal-2 .projectLanguages li').each(function () {
                lan_list.push($(this).text())
            });

            if (name === ''){
                showErrMsg('#newLanguageErrMessage', 'Language is Empty');
                return false;
            } else if (lan_list.indexOf(name) >= 0){
                showErrMsg('#newLanguageErrMessage', 'Language is Duplicated');
                return false;
            } else if (!isURL(root_path)) {
                showErrMsg('#newLanguageErrMessage', 'Root Path is not valid');
                return false
            }else{
                var lan = {
                    'project_id': $('#module-import-modal-2 #id_project').val(),
                    'name': name,
                    'root_path': $('#module-import-modal-2 #id_root_path').val()
                },
                data = {
                    'lan': JSON.stringify(lan),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                };
                $.ajax({
                    type: 'POST',
                    data: data,
                    url: '{% url "projects:language_new_from_module_import" %}',
                    dataType: 'json'
                }).done(function (data) {
                    var html = '';
                    $.each(data, function (idx, value) {
                        html += '<li>{0}</li>'.format(value);
                    });
                    $('.projectLanguages').html(html);
                    $('#module-import-modal-2 #id_name').val('');
                    $('#newLanguageErrMessage').html('');
                })
            }
        });

        function isURL(str) {
            var pattern = new RegExp(
                '^(https?:\\/\\/)?'+ // protocol
{#                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name#}
{#                '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address#}
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
            return pattern.test(str);
        }

    </script>
{% endblock %}