{% block extrahead %}
    <style type="text/css">
        .btn-file {
            position: relative;
            overflow: hidden;
            border: 1px solid lightgray;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock%}

<!-- Module Import Modal Step 1 -->
<div class="modal fade moduleImport" id="module-import-modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="modal-title">Step 1 - Project Module Import Opt</h4>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="modal-body">
                    <p>By uploading a prompt list, we can save you time by automatically
                        creating most of the audio prompts. We strongly encourage your
                        to use this this process.</p>
                    <p>Would you like to begin the import now?</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'help:help' %}" class="pull-left">Help</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="import_to_step_2" type="button" class="btn btn-default importToStep2" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Module Import Modal Step 2 -->
<div class="modal fade moduleImport" id="module-import-modal-2">
    <div class="modal-dialog">
        <form action="{% url 'projects:language_new' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">Step 2 - Project Modules Import Language Set</h4>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="modal-body">
                        <p>Languages currently set in your project</p>
                        <ul class="projectLanguages">
                            {% for lan in user.humanresource.project.language_lists %}
                                <li><a href="#import-language-edit-modal" data-toggle="modal"
                                data-dismiss="modal" data-language-id="{{ lan.lan_id }}">{{ lan.lan_name }}</a></li>
                            {% endfor %}
                        </ul>
                        {{ language_new_form }}
                        <div style="padding-top: 20px;">
                            <a href="{% url 'help:help' %}" class="pull-left">Help</a>
                            <button id="language_add" type="button" class="btn btn-default btn-sm pull-right">Add</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="newLanguageErrMessage">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="import_to_step_3" type="button" class="btn btn-default" data-dismiss="modal">Import Modules</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Module Import Modal Step 3 -->
<div class="modal fade moduleImport" id="module-import-modal-3">
    <div class="modal-dialog">
        <form action="{% url 'graphs:project_module_import' user.humanresource.project.id %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">Step 3 - Project Modules Import Promptlist</h4>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <div class="modal-body">
                    {% csrf_token %}
                    <p>Languages currently set in your project</p>
                        <ul class="projectLanguages">
                            {% for lan in user.humanresource.project.language_lists %}
                                <li>{{ lan.lan_name }}</li>
                            {% endfor %}
                        </ul>
                    <label class="control-label">Upload Prompt List .xlsx File</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-file">
                                <i class="fa fa-folder-open fa-fw"></i>{{ module_import_form.file }}
                                <input type="file" style="display: none;">
                            </span>
                        </span>
                        <input type="text" id="filenames" class="form-control" readonly>
                    </div>
                    <div class="input-group" style="padding-top: 20px;">
                        <a href="{% url 'help:help' %}" class="pull-left">Help</a>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="back_to_step_2" type="button" class="btn btn-default importToStep2" data-dismiss="modal">Back</button>
                    <input id="module_import" class="btn btn-primary" type="submit" value="Import">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Language Edit Modal -->
<div class="modal fade editLanguage" id="import-language-edit-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:language_edit' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">Language Edit</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
					<div class="row">
                        <div class="col-xs-12">
                            <label for="editLanguageProject">Project:</label>
                            <select class="form-control" name="editLanguageProject" id="editLanguageProject">
								{% for project in projects%}
									<option value="{{project.id}}">{{project.name}}</option>
								{% endfor %}
							</select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editLanguageName">Language:</label>
                            <input type="text" class="form-control input-sm" name="editLanguageName" id="editLanguageName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editLanguageRootPath">RootPath:</label>
                            <input type="text" class="form-control input-sm" name="editLanguageRootPath" id="editLanguageRootPath">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10">
                            <div id="editLanguageErrMessage">&nbsp;</div>
                        </div>
                        <div class="col-xs-1">
                            <input type="hidden" name="editLanguageId">
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="language_edit" class="btn btn-primary" type="submit" value="Save Language">
                </div>
            </div>
        </form>
    </div>
</div>

{% block footer %}
    <script>
        {% include 'core/module_import_modal.js' %}
    </script>
{% endblock %}