{% extends 'core/base.html' %}
{% block extrahead %}
<script>
{% include 'runner/dashboard.js' %}
</script>
    <style type="text/css">

        .output {
            font-size: 16px;
        }

        .popover-content > .header {
            padding: 20px;
        }

        .popover-content > .body {
            padding: 60px;
        }

        .popover {
            postition: relative;
            left: 60px !important;
            max-width: 700px;
            border: 1px solid;
        }

        .popover-title {
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        .popover-inner {
            width: 400px;

        }

        .popover .arrow {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class='container'>
        <div class='row'>
            <div id='suites' class='col-md-5'>
                <h2>Suites</h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for suite in suites %}
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="h-{{ forloop.counter }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#c-{{ forloop.counter }}">{{ suite.name }}</a>
                                </h4>
                            </div>
                            <div id="c-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel">
                                <ul class="list-group" id="lg-{{ forloop.counter }}">
                                    <li class="list-group-item">
                                        <strong>Run all</strong>
                                        <a href="#" data-toggle="modal" data-target="#run-all-modal" style="margin-left: 3em;" data-suite="{{ suite.id }}" class="btn btn-success btn-xs pull-right run-all-suite">
                                            Run <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </li>
                                    {% for case in suite.cases %}
                                        <li class="list-group-item">
                                            {{ case.title }}
                                            <button style="margin-left: 3em;" data-case="{{ case.id }}" class="btn btn-success btn-xs pull-right run-btn">
                                                Run <i class="fa fa-arrow-right"></i>
                                            </button>
                                            <i class="fa fa-check-square text-success pull-right hidden"></i>
                                            <i class="fa fa-minus-square text-danger pull-right hidden"></i>
                                            <i class="fa fa-spin fa-spinner pull-right hidden"></i>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include "runner/run_all_modal.html" %}
            </div>
            <div class='col-md-7'>
                <h2>Details</h2>
                <div id="testcase"></div>
                <div id="result"></div>
            </div>
        </div>
    </div>
{% endblock %}

