<!-- Run All Modal -->

<div class="modal fade newModule" id="run-all-modal">
    <div class="modal-dialog">
        <form action="#" method="post" id="run-all-modal-form" enctype="application/x-www-form-urlencoded">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Run All Data Needed</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ modal_run_all }}
                </div>
                <div class="modal-footer">
                    <input id="runall" class="btn btn-primary run-all-btn" type="submit" value="Run All">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken);
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#run-all-modal-form').on('submit', function( event ) {
        event.preventDefault()
        alert("test")
        console.log('enter');
        var data = $(this).serialize()
        console.log(data)
        $.ajax({
            type: 'POST',
            data: data,
            url: '{% url 'runner:run_all_modal' %}',
            cache: 'false',
            contentType:'application/json',
            success: function(data, status){
                console.log(data);
                console.log('it worked!');
            }
        });
        return false;
    });

</script>