{% extends 'core/base.html' %}

{% block title %} Module New {% endblock %}

{% block body %}
    <div class="container importModule">
        <h3>Add New Module</h3>
        <form action="{% url 'projects:module_import' %}" method="post">
            <div class="row">
                {{ form }}
            </div>
            {% csrf_token %}
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <div id="importModuleErrMessage"></div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-12">
                    <input id="module_new" class="btn btn-primary" type="submit" value="Import Module">
                    <input type="button" value="Cancel" class="btn btn-default" onclick="history.back(); return false;">
                </div>
            </div>

            </form>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function(){
            var project_id = $('#id_project').val(),
                location = $('#id_catalog');

            set_catalog_selection_value(project_id, null, location);
        });

        {% include 'projects/projects.js' %}
    </script>
{% endblock %}