<!-- Project Config Modal -->
<div class="modal fade projectConfig" id="project-config-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:project_config' project.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Project Configuration</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ project_config_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="projectConfigErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="project_config" class="btn btn-primary" type="submit" value="Save">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TestHeader New Modal -->
<div class="modal fade newTestHeader" id="testheader-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:test_header_new' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">New TestHeader</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ testheader_new_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="testheaderNewErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="testheader_new" class="btn btn-primary" type="submit" value="New TestHeader">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TestHeader Edit Modal -->
<div class="modal fade editTestHeader" id="testheader-edit-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:test_header_edit' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Edit TestHeader</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editTestHeaderName">Name:</label>
                            <input type="text" class="form-control input-sm" name="editTestHeaderName" id="editTestHeaderName">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="testheaderEditErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                    <input type="hidden" name="editTestHeaderId" value="">
                </div>
                <div class="modal-footer">
                    <input name="test_header_save" class="btn btn-primary" type="submit" value="Save">
                    {% if user.is_superuser %}
                        <input name="test_header_delete" class="btn btn-danger" type="submit" value="Delete">
                    {% endif %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>