{% extends 'core/base.html' %}

{% block title %} Project Edit {% endblock %}

{% block body %}
    <div class="container editProject">
        <h3>Edit Project</h3>
        <form action="{% url 'projects:project_edit' project.id%}" method="post">
            <div class="row">
                {{ form }}
            </div>
            {% csrf_token %}
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <div id="editProjectErrMessage"></div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-12">
                    <input id="project_edit" class="btn btn-primary" type="submit" value="Save Project" name="project_edit">
                    <input type="button" value="Cancel" class="btn btn-default" onclick="history.back(); return false;">
                    {% if request.user.username == 'sliu' %}
                        <input id="project_delete" value="Delete Project" class="btn btn-danger" type="submit" name="project_delete">
                    {% endif %}
                </div>
            </div>

            </form>
    </div>
{% endblock %}

{% block footer %}
    <script>
        {% include 'projects/projects.js' %}
    </script>
{% endblock %}