<div class="container">
    <div class="row">
        <div class="col-xs-8">
            {% if projects %}
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped table-hover table-condensed table-bordered projectsTable">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Name</th>
                                <th class="col-xs-1">Edit</th>
                                <th class="col-xs-2">Version(TestSuites)</th>
                                <th class="col-xs-1">TestHeader</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td><a href="#project-{{ project.id }}" data-toggle="tab">{{ project.name }}</a></td>
                                    <td>
                                        <a href="{% url 'projects:project_edit' project.id %}"><i class="fa fa-edit fa-fw"></i></a>
                                    </td>
                                    <td>
                                        {% if project.testrail %}
                                            <a href="{{ project.testrail.instance.host }}/index.php?/suites/overview/{{ project.testrail.project_id }}" target="_blank">{{ project.testrail.project_name }}: {{ project.version }}</a>
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.test_header %}
                                            <a href="{% url 'graphs:project_module_detail' project.test_header.id %}">{{ project.test_header.name }}</a>
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                No Projects
            {% endif %}
        </div>

        <div class="col-xs-4">
            <div class="col-xs-12">
                <div class="row hidden">
                    <ul class="nav nav-tabs">
                        {% for project in projects %}
                            <li><a href="#project-{{ project.id }}" data-toggle="tab">{{ project.id }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content">
                    {% for project in projects %}
                        <div class="tab-pane" id="project-{{ project.id }}">
                            <div class="row">
                                <h4>{{ project.name }} modules list:</h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% for module in project.modules %}
                                        <li><a href="{% url 'projects:module_edit' module.id %}">{{ module.name }}</a></li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
