{% extends 'core/base.html' %}

{% block title %} Projects {% endblock %}

{% block subnav %}
    <div class="container" style="margin-top: 10px;">
        <div class="row" style="margin-bottom: 10px;">
            <small>
                <i class="fa fa-pencil fa-fw"></i> Create
                <a href="{% url 'projects:project_new' %}" >New Project</a> |
                <a href="{% url 'projects:module_new' %}" >New Module</a> |
                <a href="{% url 'projects:test_header_new' %}">New TestHeader</a>
            </small>
        </div>
        <div class="row" style="margin-top: 10px;">
            <ul id="subnav-tabs" class="nav nav-tabs">
                <li><a href="#projects" data-toggle="tab">Projects</a> </li>
                <li><a href="#test_headers" data-toggle="tab">Test Headers</a> </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="tab-content">
        <div class="tab-pane" id="projects">
            {% include 'projects/projects_projects.html' %}
        </div>
        <div class="tab-pane" id="test_headers">
            {% include 'projects/projects_testheaders.html' %}
        </div>
    </div>
{% endblock%}

{% block footer %}
    <script>
        $(document).ready(function(){
            $('#subnav-tabs').find('a[href="#projects"]').tab('show');

            var first_href = $('.projectsTable tbody tr:first td:first a').attr('href');

            //console.log(first_href);
            $('a[href="{0}"]'.format(first_href)).click();
        });

        {% include 'projects/projects.js' %}
    </script>
{% endblock %}