{% extends 'core/base.html' %}

{% block title %} TestHeader New {% endblock %}

{% block body %}
    <div class="container newTestHeader">
        <h3>Add New TestHeader</h3>
        <form action="{% url 'projects:test_header_new' %}" method="post">
            <div class="row">
                {{ form }}
            </div>
            {% csrf_token %}
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <div id="newTestHeaderErrMessage"></div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-12">
                    <input id="test_header_new" class="btn btn-primary" type="submit" value="New TestHeader">
                    <input type="button" value="Cancel" class="btn btn-default" onclick="history.back(); return false;">
                </div>
            </div>

            </form>
    </div>
{% endblock %}

{% block footer %}
    <script>

    </script>
{% endblock %}