{% extends 'core/base.html' %}

{% block title %} Module Import {% endblock %}

{% block body %}
    <div class="container importModule">
        <h3>Import New Module</h3>
        <form action="{% url 'graphs:project_module_import' project_id %}" method="post">
            <div class="row">
                {{ form.file }}
            </div>
            {% csrf_token %}
            <div class="row" style="margin-top: 20px;">
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-12">
                    <input id="module_import" class="btn btn-primary" type="submit" value="Import Module">
                    <input type="button" value="Cancel" class="btn btn-default" onclick="history.back(); return false;">
                </div>
            </div>

            </form>
    </div>
{% endblock %}
