{% block body %}
    <div class="container">
        {% if projects %}
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped table-hover table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Name</th>
                                <th class="col-xs-2">Modules</th>
                                <th class="col-xs-2">Nodes</th>
                                <th class="col-xs-2">Edges</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td><a href="{% url 'graphs:project_detail' project.id %}">{{ project.name }}</a></td>
                                    <td>{{ project.modules_count|default:0 }}</td>
                                    <td>{{ project.nodes_count|default:0 }} |
                                        <a href="{% url 'graphs:project_node_new' project.id %}"> new</a>
                                    </td>
                                    <td>{{ project.edges_count|default:0 }} |
                                        <a href="{% url 'graphs:project_edge_new' project.id %}"> new</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            No Contents
        {% endif %}

    </div>
{% endblock %}