<!-- Module Import Modal -->
<div class="modal fade newModule" id="module-import-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:project_module_import' project.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Module Import</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ module_new_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="newModuleErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="module_import" class="btn btn-primary" type="submit" value="Import Module">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Module New Modal -->
<div class="modal fade newModule" id="module-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:project_module_new' project.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Module New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ module_new_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="newModuleErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="module_new" class="btn btn-primary" type="submit" value="New Module">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Module Edit Modal -->
<div class="modal fade editModule" id="module-edit-modal">
    <div class="modal-dialog">
        <form method="post" action="{% url 'graphs:project_module_edit' project.id %}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editModuleName">Name:</label>
                            <input type="text" class="form-control input-sm" name="editModuleName" id="editModuleName">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-xs-10">
                            <div id="editModuleErrMessage">&nbsp;</div>
                        </div>
                        <div class="col-xs-1">
                            <input type="hidden" name="editModuleId">
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="submit" name="module_save" class="btn btn-primary param-save">Save</button>
                    <button type="submit" name="module_delete" class="btn btn-danger param-delete">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>