<!-- Module Import Modal -->
<div class="modal fade newModule" id="module-import-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:project_module_import' project.id %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Module Import</h4>
                        </div>
                    </div>
                </div>
             <div class="form-group">
                <div class="modal-body">
                    {% csrf_token %}
                        <label class="control-label">Upload Prompt List .xlsx File</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-file">
                                    <i class="fa fa-folder-open fa-fw"></i>{{ module_import_form.file }}
                                    <input type="file" style="display: none;">
                                </span>
                            </span>
                            <input type="text" id="filenames" class="form-control" readonly>
                        </div>
                    </div>
                 </div>
                <div class="modal-footer">
                    <input id="module_import" class="btn btn-primary" type="submit" value="Import Module">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Module New Modal -->
<div class="modal fade newModule" id="module-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'graphs:project_module_new' project.id %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Module New</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ module_new_form }}
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="newModuleErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    <div class="row">
                        <input name="positions" value="" hidden/>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="module_new" class="btn btn-primary" type="submit" value="New Module">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Module Edit Modal -->
<div class="modal fade editModule" id="module-edit-modal">
    <div class="modal-dialog">
        <form method="post" action="{% url 'graphs:project_module_edit' project.id %}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editModuleName">Name:</label>
                            <input type="text" class="form-control input-sm" name="editModuleName" id="editModuleName">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-xs-10">
                            <div id="editModuleErrMessage">&nbsp;</div>
                        </div>
                        <div class="col-xs-1">
                            <input type="hidden" name="editModuleId">
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="module_delete" class="btn btn-danger param-delete">Delete</button>
                    <button type="submit" name="module_save" class="btn btn-primary param-save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Edges Between Modules Modal -->
<div class="modal fade edgesBetweenModules" id="edges-between-modules-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edges Between Modules</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="row hidden">
                        <ul class="nav nav-tabs">
                            {% for item in edges_between_modules %}
                                <li><a href="#project-edge-{{ item.id }}" data-toggle="tab">{{ item.id }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content">
                        {% for item in edges_between_modules %}
                            <div class="tab-pane" id="project-edge-{{ item.id }}">
                                {% if item.edge_list %}
                                    <div class="row edges-between-modules">
                                        <h5 style="margin-top: -10px; margin-bottom: 30px;">Edges List</h5>
                                        <div class="list-group">
                                            {% for edge in item.edge_list %}
                                                <a href="#edge-between-modules-{{ edge.id }}" data-toggle="tab" class="list-group-item">{{ edge.edge_name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-content edges-between-modules-contents">
                                        {% for edge in item.edge_list %}
                                            <div class="tab-pane" id="edge-between-modules-{{ edge.id }}">
                                                <div class="row" style="margin-top: -10px; margin-bottom: 30px;">
                                                    <div class="col-xs-6">
                                                        <h5>Edge Detail</h5>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <button class="btn btn-default back-to-edges-between-modules" value="project-edge-{{ item.id }}">Back</button>
                                                    </div>
                                                </div>

                                                    <div class="row">
                                                        <label for="projectEdgeEditFromNode">FromNode:</label>
                                                        <input id="projectEdgeEditFromNode" class="form-control" value="{{ edge.from_node }}" readonly/>
                                                    </div>
                                                    <div class="row">
                                                        <label for="projectEdgeEditToNode">ToNode:</label>
                                                        <input id="projectEdgeEditToNode" class="form-control" value="{{ edge.to_node }}" readonly/>
                                                    </div>
                                                    <div class="row">
                                                        <label for="projectEdgeEditPriority">Priority:</label>
                                                        <input id="projectEdgeEditPriority" class="form-control" value="{{ edge.priority }}" readonly/>
                                                    </div>
                                                    <div class="row">
                                                        <label for="projectEdgeEditType">Type:</label>
                                                        <input id="projectEdgeEditType" class="form-control" value="{{ edge.type }}" readonly/>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 10px;">
                                                        <div class="col-xs-12" >
                                                            <div id="project-edge-edit-properties">
                                                                {% for key, value in edge.properties.items %}
                                                                    {% if key == 'OutputData' %}
                                                                        {% for subkey, subvalue in edge.properties.OutputData.items %}
                                                                            <div class="row" style="margin-top: 5px;">
                                                                                <div class="col-xs-1"></div>
                                                                                <div class="col-xs-11">
                                                                                    <label>
                                                                                        {% if subkey == 'Outputs' %}
                                                                                            Follow If...
                                                                                        {% else %}
                                                                                            {{ subkey }}:
                                                                                        {% endif %}
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-1"></div>
                                                                                <div class="col-xs-11">
                                                                                    <input class="form-control" name="{{ subkey }}_0" value="{{ subvalue }}" readonly/>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        <div class="row" style="margin-top: 5px;">
                                                                            <div class="col-xs-12">
                                                                                <label>{{ key }}:</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" style="margin-top: 5px;">
                                                                            <div class="col-xs-12">
                                                                                <input class="form-control" name="{{ key }}" value="{{ value }}" readonly/>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <h5 style="margin-top: -10px; margin-bottom: 30px;">Edge Detail</h5>

                                        <div class="row">
                                            <label for="projectEdgeEditFromNode">FromNode:</label>
                                            <input id="projectEdgeEditFromNode" class="form-control" value="{{ item.from_node }}" readonly/>
                                        </div>
                                        <div class="row">
                                            <label for="projectEdgeEditToNode">ToNode:</label>
                                            <input id="projectEdgeEditToNode" class="form-control" value="{{ item.to_node }}" readonly/>
                                        </div>
                                        <div class="row">
                                            <label for="projectEdgeEditPriority">Priority:</label>
                                            <input id="projectEdgeEditPriority" class="form-control" value="{{ item.priority }}" readonly/>
                                        </div>
                                        <div class="row">
                                            <label for="projectEdgeEditType">Type:</label>
                                            <input id="projectEdgeEditType" class="form-control" value="{{ item.type }}" readonly/>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-xs-12" >
                                                <div id="project-edge-edit-properties">
                                                    {% for key, value in item.properties.items %}
                                                        {% if key == 'OutputData' %}
                                                            {% for subkey, subvalue in item.properties.OutputData.items %}
                                                                <div class="row" style="margin-top: 5px;">
                                                                    <div class="col-xs-1"></div>
                                                                    <div class="col-xs-11">
                                                                        <label>
                                                                            {% if subkey == 'Outputs' %}
                                                                                Follow If...
                                                                            {% else %}
                                                                                {{ subkey }}:
                                                                            {% endif %}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-1"></div>
                                                                    <div class="col-xs-11">
                                                                        <input class="form-control" name="{{ subkey }}_0" value="{{ subvalue }}" readonly/>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            <div class="row" style="margin-top: 5px;">
                                                                <div class="col-xs-12">
                                                                    <label>{{ key }}:</label>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top: 5px;">
                                                                <div class="col-xs-12">
                                                                    <input class="form-control" name="{{ key }}" value="{{ value }}" readonly/>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>