{% block body %}
    <div class="container">
        {% if projects %}
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead class>
                            <tr>
                                <th class="col-xs-1">Name</th>
                                <th class="col-xs-2" colspan="2" style="text-align: center;">Modules</th>
                                <th class="col-xs-2" colspan="2" style="text-align: center;">Nodes</th>
                                <th class="col-xs-2" colspan="2" style="text-align: center;">Edges</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td><a href="{% url 'graphs:project_detail' project.id %}">{{ project.name }}</a></td>
                                    <td style="text-align: right;">{{ project.modules_count|default:0 }}
                                    </td>
                                    <td>
                                        <a href="{% url 'graphs:project_module_new' project.id %}"> new</a>
                                    </td>
                                    <td style="text-align: right;">{{ project.nodes_count|default:0 }}
                                    </td>
                                    <td>
                                        <a href="{% url 'graphs:project_node_new' project.id %}"> new</a>
                                    </td>
                                    <td style="text-align: right;">{{ project.edges_count|default:0 }}
                                    </td>
                                    <td>
                                        <a href="{% url 'graphs:project_edge_new' project.id %}"> new</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            No Contents
        {% endif %}

    </div>
{% endblock %}