{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Project Detail {% endblock %}

{% block extrahead %}
    <style type="text/css">
        @media screen and (min-width: 768px){
            .modal-sm {
                top: 50px;
                width: 400px;
                left: 368px;
                background-color: #ffffff;
                z-index: 10040;
                overflow-y: auto;
            }
        }
        @media screen and (min-width: 992px){
            .modal-sm {
                top: 50px;
                width: 400px;
                height: 400px;
                left: 592px;
                background-color: #ffffff;
                z-index: 10040;
                overflow-y: auto;
            }
        }

        #module_in_project_cy {
            width: auto;
{#            height: auto;#}
        }
        .btn-file {
            position: relative;
            overflow: hidden;
            border: 1px solid lightgray;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-4">
                <h4>Project: {{ project.name }}</h4>
            </div>
            <div class="col-xs-7 text-right">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default dropdown-toggle drop-button" data-toggle="dropdown">
                        <span id="text"> View Options </span><span class="caret"></span>
                    </label>
                    <ul class="dropdown-menu" id="divNewNotifications">
                        <li><a class="dropdown-item" id="default"> Default </a></li>
                        <li><a class="dropdown-item" id="data-gaps"> Data Gaps </a></li>
                        <li class="disabled"><a class="dropdown-item" id="failed-testcases"> Failed Testcases </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="module_in_project_cy" style="margin-top: 10px;"></div>
        </div>

        {% include 'graphs/project/project_detail_modal.html' %}
    </div>
{% endblock %}

{% block footer %}
    <script>
        var graph_height = 0;
        if (window.screen.height > 1000) {
            graph_height = 800
        } else {
            graph_height = 600
        }
        $('#module_in_project_cy').css({
            'height': graph_height
        });

        var cy_data_nodes = {{ network_nodes|safe }},
            cy_data_edges = {{ network_edges|safe }},
            image_url = "{% static 'common/brand_icons/turnpost-png-graphics/' %}";

        {% include 'graphs/project/project_detail.js' %}
        {% include 'graphs/node_edge_properties.js' %}

        {% include 'graphs/project/project_draw_graph.js' %}
        {% include 'graphs/websocket.js' %}
    </script>
{% endblock %}