{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Project Detail {% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'common/visjs/4.16.1/vis-network.min.js' %}"></script>
    <link type="text/css" href="{% static 'common/visjs/4.16.1/vis.css' %}">

    <style type="text/css">
        #module_in_project {
            width: auto;
            height: auto;
            border: 1px solid lightgray;
        }
    </style>
{% endblock%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Project: {{ project.name }}</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a href="#" data-toggle="modal" data-target="#module-new-modal" class="btn btn-default">New Module</a>
                        <a href="{% url 'graphs:project_node_new' project.id %}" class="btn btn-default">New Node</a>
                        <a href="{% url 'graphs:project_edge_new' project.id %}" class="btn btn-default">New Edge</a>
                    </div>
                </div>
                <div class="row">
                    <div id="module_in_project" style="margin-top: 10px;"></div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row hidden">
                    <ul class="nav nav-tabs">
                        <li><a href="#projectModules" data-toggle="tab">ProjectModules</a> </li>
                        <li><a href="#projectEdges" data-toggle="tab">ProjectEdges</a> </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="projectModules">
                        <h4>Modules:</h4>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-xs-9">Name</th>
                                    <th class="col-xs-3">Edition</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in project.modules %}
                                    <tr>
                                        <td><a href="{% url 'graphs:project_module_detail' item.id %}">{{ item.name }}</a></td>
                                        <td>
                                            <a href="#module-edit-modal" data-toggle="modal" class="btn btn-primary btn-xs"
                                                data-module-id="{{ item.id }}"
                                                data-module-name="{{ item.name }}"
                                                ><i class="fa fa-edit"></i> </a>
                                        </td>
                                    <tr></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="projectEdges">
                        <div class="col-xs-12">
                            <div class="row hidden">
                                <ul class="nav nav-tabs">
                                    {% for item in edges_between_modules %}
                                        <li><a href="#project-edge-{{ item.id }}" data-toggle="tab">{{ item.id }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-content">
                                {% for item in edges_between_modules %}
                                    <div class="tab-pane" id="project-edge-{{ item.id }}">
                                        {% if item.edge_list %}
                                            <div class="row edges-between-modules">
                                                <h4>Edges List</h4>
                                                <div class="list-group">
                                                    {% for edge in item.edge_list %}
                                                        <a href="#edge-between-modules-{{ edge.id }}" data-toggle="tab" class="list-group-item">{{ edge.edge_name }}</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="tab-content edges-between-modules-contents">
                                                {% for edge in item.edge_list %}
                                                    <div class="tab-pane" id="edge-between-modules-{{ edge.id }}">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <h4>Edge Detail</h4>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <button class="btn btn-default back-to-edges-between-modules" value="project-edge-{{ item.id }}">Back</button>
                                                            </div>
                                                        </div>

                                                        <form method="post" action="{% url 'graphs:module_edge_edit' edge.id %}" class="projectEdgeEditForm">
                                                            <div class="row">
                                                                <label for="projectEdgeEditType">Type:</label>
                                                                <select class="form-control" id="projectEdgeEditType" name="projectEdgeEditType">
                                                                    {% for type in edge_types %}
                                                                        <option value="{{ type.id }}" {% if edge.type == type.id %}selected{% endif %}>{{ type.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="row">
                                                                <label for="projectEdgeEditFromNode">FromNode:</label>
                                                                <select class="form-control" id="projectEdgeEditFromNode" name="projectEdgeEditFromNode">
                                                                    {% for node in project.nodes %}
                                                                        <option value="{{ node.id }}" {% if edge.from_node == node.id %}selected{% endif %}>{{ node.module.name }}:{{ node.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="row">
                                                                <label for="projectEdgeEditToNode">ToNode:</label>
                                                                <select class="form-control" id="projectEdgeEditToNode" name="projectEdgeEditToNode">
                                                                    {% for node in project.nodes %}
                                                                        <option value="{{ node.id }}" {% if edge.to_node == node.id %}selected{% endif %}>{{ node.module.name }}:{{ node.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="row">
                                                                <label for="projectEdgeEditPriority">Priority:</label>
                                                                <select class="form-control" id="projectEdgeEditPriority" name="projectEdgeEditPriority">
                                                                    {% for priority in edge_priority %}
                                                                        <option value="{{ priority.0 }}" {% if edge.priority == priority.0 %}selected{% endif %}>{{ priority.1 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12" >
                                                                    <h5>Edge Properties:</h5>
                                                                    <div id="project-edge-edit-properties">
                                                                        {% for key, value in edge.properties.items %}
                                                                            <div class="row" style="margin-top: 5px;">
                                                                                <div class="col-xs-4">
                                                                                    <label>{{ key }}:</label>
                                                                                </div>
                                                                                <div class="col-xs-8">
                                                                                    <input name="{{ key }}" value="{{ value }}" >
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-xs-10">
                                                                    <div id="projectEdgeEditErrMessage">&nbsp;</div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <button type="submit" name="project_edge_save" class="btn btn-primary param-save">Save</button>
                                                                    <button type="submit" name="project_edge_delete" class="btn btn-danger param-delete">Delete</button>
                                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        {% else %}
                                            <h4>Edge Detail</h4>
                                            <form method="post" action="{% url 'graphs:module_edge_edit' item.id %}" class="projectEdgeEditForm">
                                                <div class="row">
                                                    <label for="projectEdgeEditType">Type:</label>
                                                    <select class="form-control" id="projectEdgeEditType" name="projectEdgeEditType">
                                                        {% for type in edge_types %}
                                                            <option value="{{ type.id }}" {% if item.type == type.id %}selected{% endif %}>{{ type.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <label for="projectEdgeEditFromNode">FromNode:</label>
                                                    <select class="form-control" id="projectEdgeEditFromNode" name="projectEdgeEditFromNode">
                                                        {% for node in project.nodes %}
                                                            <option value="{{ node.id }}" {% if item.from_node == node.id %}selected{% endif %}>{{ node.module.name }}:{{ node.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <label for="projectEdgeEditToNode">ToNode:</label>
                                                    <select class="form-control" id="projectEdgeEditToNode" name="projectEdgeEditToNode">
                                                        {% for node in project.nodes %}
                                                            <option value="{{ node.id }}" {% if item.to_node == node.id %}selected{% endif %}>{{ node.module.name }}:{{ node.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <label for="projectEdgeEditPriority">Priority:</label>
                                                    <select class="form-control" id="projectEdgeEditPriority" name="projectEdgeEditPriority">
                                                        {% for priority in edge_priority %}
                                                            <option value="{{ priority.0 }}" {% if item.priority == priority.0 %}selected{% endif %}>{{ priority.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12" >
                                                        <h5>Edge Properties:</h5>
                                                        <div id="project-edge-edit-properties">
                                                            {% for key, value in item.properties.items %}
                                                                <div class="row" style="margin-top: 5px;">
                                                                    <div class="col-xs-4">
                                                                        <label>{{ key }}:</label>
                                                                    </div>
                                                                    <div class="col-xs-8">
                                                                        <input name="{{ key }}" value="{{ value }}" >
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-10">
                                                        <div id="projectEdgeEditErrMessage">&nbsp;</div>
                                                    </div>
                                                </div>
                                                <br>
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button type="submit" name="project_edge_save" class="btn btn-primary param-save">Save</button>
                                                        <button type="submit" name="project_edge_delete" class="btn btn-danger param-delete">Delete</button>
                                                        <button type="reset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>

                                            </form>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        {% include 'graphs/project/project_detail_modal.html' %}
    </div>
{% endblock %}

{% block footer %}
    <script>
        var nodes = {{ network_nodes|safe }};
        var edges = {{ network_edges|safe }};
        {% include 'graphs/project/project_detail.js' %}
    </script>
{% endblock %}